@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  box-sizing: border-box;
  font-size: 18px;
}

@media only screen and (min-width: 720px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 960px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1240px) {
  html {
    font-size: 24px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "navbar content";
  grid-template-columns: 1fr 4fr;
  width: 100%;
  height: 100vh;
}

.title {
  margin-top: 15px;
  font-size: 0.9rem;
  font-weight: 500;
}

.active {
  font-weight: 600;
  color: #000;
}

.health-card h5 {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  color: #797676;
  padding: 5px;
}

.meal-card h5 {
  font-size: 0.8rem;
  font-weight: 500;
  color: #797676;
  padding: 5px;
}

.calories-card h5 {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 500;
  color: #797676;
  padding: 5px;
}

.calories-card p {
  font-size: 500;
  font-size: 0.6rem;
  text-align: center;
  font-weight: 500;
  padding: 10px;
}

.calories-card span {
  font-weight: 300;
  color: #333;
}

.card-top {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #fff;
}

.card-top p {
  font-size: 0.6rem;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.card-top span {
  font-weight: 300;
  color: #333;
}

.card-bottom {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
}

.card-bottom .bmi {
  font-size: 0.7rem;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.card-bottom .unit {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  color: #333;
}

nav,
main {
  border: 1px solid #f5f5f5;
  border-bottom: none;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  position: relative;
  height: 60px;
}

nav {
  grid-area: navbar;
  height: 100vh;
  border-right: none;
}

main {
  grid-area: content;
  height: 100vh;
}
.fa-house-user {
  font-weight: bold;
  color: #000;
}

ul {
  list-style: none;
  padding-left: 40px;
  padding-top: 20px;
}

ul li {
  margin: 5px;
  padding: 10px;
}

ul li a {
  text-decoration: none;
  color: #363636;
  font-size: 0.6rem;
}

ul i {
  margin-right: 20px;
  color: #5f5d5d;
  font-size: 0.8rem;
}

ul li:hover {
  background-color: #f6f8fa;
  border-radius: 9999px;
  cursor: default;
  padding: 10px;
  width: 80%;
}

.profile-image {
  border-radius: 50%;
  background-image: url(../Assets/avatar.jpg);
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 10px;
  top: 10px;
}

.counter {
  position: absolute;
  border: none;
  outline: none;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  text-align: center;
  background-color: red;
  color: #fff;
  right: 123px;
  font-size: 13px;
  top: 7px;
}

.logo {
  position: absolute;
  left: 80px;
  top: -8px;
}

main section {
  height: 600px;
  background: #f6f8fa;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.summary {
  display: flex;
  margin: 30px 40px 10px 40px;
  height: 290px;
}

.health-card {
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
}

.calories-card {
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 70%;
  margin-left: 10px;
}

.meal-card {
  border: 1px solid #ccc;
  background: #fff;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
  border-radius: 10px;
}

.meal-card-btn {
  display: flex;
  flex-direction: column;
}

.meal-card-btn button {
  margin: 10px;
  padding: 8px;
  border-radius: 999px;
  border: none;
  outline: none;
  background: #2da44e;
  color: #fff;
}

.meal-container-inner {
  display: flex;
  justify-content: space-around;
}

.image-left {
  display: flex;
}

figcaption {
  margin-top: 50px;
  margin-left: 20px;
  font-weight: 300;
  font-size: 0.7rem;
}

.meal-photo {
  width: 160px;
  height: 160px;
  background-image: url(./breakfast.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.vertical-line-left {
  border: 1px solid #ccc;
  position: absolute;
  height: 70%;
  left: 190px;
  border-left: none;
  top: 10px;
}

.health-card-inner {
  height: 250px;
}

.vertical-line-right {
  border: 1px solid #ccc;
  position: absolute;
  height: 70%;
  right: 80px;
  top: 10px;
  border-left: none;
}

header i {
  position: absolute;
  right: 120px;
  top: 19px;
  font-size: 28px;
}

.preloader {
  background: #fff;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: grid;
  place-content: center;
  z-index: 4;
}

.msg {
  margin-top: 70px;
  font-weight: 500;
  color: #333;
}

.loader {
  border: solid 3px rgb(66, 66, 66);
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: 0.5s linear infinite spinner;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@media only screen and (min-width: 908px) {
  .meal-card-btn-set2 {
    display: none;
  }
  .figcaption-set2 {
    display: none;
  }
}
@media only screen and (max-width: 908px) {
  .nav-label {
    display: none;
  }
  .figcaption-set2 {
    font-size: 0.7rem;
    padding: 10px;
  }

  .meal-card {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  figcaption {
    margin-top: 0;
    margin-left: 0;
  }

  .meal-container-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .meal-card-btn {
    display: none;
  }

  .image-left {
    display: unset;
  }

  .meal-card-btn-set2 {
    display: block;
    margin: 10px;
  }
  .meal-card-btn-set2 button {
    border-radius: 999px;
    padding: 3px;
    border: none;
    outline: none;
    background: #2da44e;
    color: #fff;
    font-size: 0.6rem;
  }

  figcaption {
    display: none;
  }

  .meal-photo {
    width: 160px;
    height: 160px;
    background-image: url(./breakfast.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
  }

  .summary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 40px 10px 40px;
    height: 800px;
    width: 100%;
  }

  .health-card {
    border: 1px solid #ccc;
    width: 100%;
    margin: 10px;
    height: 270px;
    background: #fff;
  }

  .calories-card {
    width: 100%;
    margin-left: 0;
  }

  nav {
    overflow: hidden;
  }

  main {
    border-left: 0;
    margin-right: 5px;
    border-right: none;
  }

  body {
    display: grid;
    grid-template-areas:
      "header header"
      "navbar content";
    grid-template-columns: 0.1fr 4fr;
    width: 100%;
    height: 100vh;
  }

  ul i {
    margin-right: 10px;
    margin-left: 0;
    color: #5f5d5d;
    font-size: 1rem;
  }

  ul li {
    margin: 0px;
    padding: 10px;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 867px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 50px;
    padding-top: 30px;
  }

  .logo {
    position: absolute;
    left: 3px;
    top: -8px;
  }

  .vertical-line-left {
    border: 1px solid #ccc;
    position: absolute;
    height: 70%;
    left: 74px;
    border-left: none;
    top: 10px;
  }

  header i {
    position: absolute;
    right: 95px;
    top: 25px;
    font-size: 20px;
  }

  .counter {
    position: absolute;
    border: none;
    outline: none;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    text-align: center;
    background-color: red;
    color: #fff;
    right: 95px;
    font-size: 13px;
    top: 16px;
  }

  .title {
    margin-top: 20px;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .vertical-line-right {
    border: 1px solid #ccc;
    position: absolute;
    height: 70%;
    right: 70px;
    top: 10px;
    border-left: none;
  }

  .footer-nav {
    border-top: 1px solid #f5f5f5;
    width: 100%;
    position: absolute;
    bottom: 0;
    position: fixed;
    background: #fff;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
  }

  .footer-nav a {
    margin-left: 30px;
    color: #5f5d5d;
  }

  .mobile-logout {
    margin-right: 30px;
  }
}
