@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  box-sizing: border-box;
  font-size: 18px;
}

@media only screen and (min-width: 720px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 960px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1240px) {
  html {
    font-size: 24px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body:not(.dark-mode) {
  background: #fff;
  color: #000;
}

.dark-mode {
  background: #120e0e;
  color: #fff;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "navbar content";
  grid-template-columns: 1fr 4fr;
  width: 100%;
  height: 100vh;
  background: #faf9f9;
}

.title {
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: 700;
}

.active {
  color: #000;
  font-size: 0.6rem;
}

.health-card h5 {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #000;
  padding: 5px;
}

.meal-card h5 {
  font-size: 1.5rem;
  font-weight: 570;
  color: #000;
  text-align: center;
}

.card-sub-content {
  display: flex;
  justify-content: space-between;
}

.calories-card h5 {
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  color: #000;
  padding: 5px;
}

.calories-card p {
  font-size: 500;
  font-size: 0.6rem;
  text-align: center;
  font-weight: 500;
  padding: 10px;
}

.calories-card span {
  font-weight: 300;
  color: #333;
}

.card-top {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #f6f8fa;
}

.card-top p {
  font-size: 0.6rem;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.card-top span {
  font-weight: 300;
  color: #333;
}

.card-bottom {
  padding: 10px;
  border-radius: 10px;
  background: #f6f8fa;
}

.card-bottom .bmi {
  font-size: 0.7rem;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.card-bottom .unit {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  color: #333;
}

nav,
main {
  border: 0.5px solid #f0efef;
  border-bottom: none;
  border-left: none;
  margin-top: 50px;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 4;
  height: 70px;
  background: rgba(250, 249, 249, 0.6);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(14px);
  width: 100%;
  margin-bottom: 70px;
  border-bottom: 0.5px solid #f0efef;
}

nav {
  grid-area: navbar;
  height: 100vh;
  border-left: none;
  border-top: none;
  border-right: none;
  position: fixed;
  width: 20%;
  background: rgba(250, 249, 249, 0.6);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(14px);
}

main {
  grid-area: content;
  /* height: 1030px; */
  border-right: none;
  margin-top: 60px;
  border-top: none;
  background: rgba(250, 249, 249, 0.6);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(14px);
}

/* meal plan css */

.meal-plan-main {
  grid-area: content;
  height: 98vh;
  border-right: none;
  margin-top: 60px;
  border-top: none;
  background: #F6F8FA;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(14px);
}

.content {
  padding: 20px 0px;
  background-color: #F6F8FA;
  border: none;

}

.week-days {
  width: 89%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  position: fixed;
  top: 15px;
  box-shadow: 0 10px 10px rgba(45, 164, 78, 0.2);
  background: #fff;
  margin-left: 40px;
  margin-right: 40px;
  padding: 16px;
  border-radius: 10px;

}

.week-days a {
  flex-basis: calc(100% / 6);
  text-align: center;
  padding: 2px;
}

.week-days .week-btn {
  border-radius: 30px;
  margin: 2px 2px;
  background: none;
  color: #2da44e;
  border: none;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  padding: 3px 22px;
  border-radius: 30px;
}

.week-days .active-week-btn {
  text-align: center;
  padding: 3px 26px;
  border-radius: 30px;
  margin: 2px 2px;
  box-shadow: 0px 0px 5px #2DA44E;
  border: 1px solid #2DA44E;
  background-color: #2DA44E;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;

}

.week-days .week-btn:hover {
  box-shadow: 0px 0px 5px #2DA44E;
  border: 1px solid #2DA44E;
  background-color: #2DA44E;
  color: #fff;
}

.meals-today {
  margin-top: 60px;
  border: 1px solid #ccc;
  background: #fff;
  border: none;
  box-shadow: 0 10px 10px rgba(45, 164, 78, 0.2);
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
  border-radius: 10px;
}

.meals-today p {
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.meals-today span {
  float: right;
  font-size: 16px;
  font-weight: 500;
  position: inherit;
}

.meals-today .breakfast {
  margin-top: 5px;
  border-bottom: 1px solid #CCCCCC;
  background: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

.breakfast img,
.breakfast .breakfast-text,
.breakfast {
  display: inline-block;
  vertical-align: middle;
}

.breakfast img {
  border-radius: 50%;
  margin: 20px;
  margin-right: 60px;
  height: 100px;
  width: 100px;
}

.breakfast {
  display: flex;
  justify-content: space-between;
  padding: auto;
}

.breakfast-text {
  margin: auto;
  margin-left: 20px;
}

.breakfast-text p {
  font-weight: 600;
}

.breakfast-text .breakfast-text-2 {
  font-size: 18px;
  font-weight: 500;
}

.breakfast-text span {
  float: none;
  border: 1px solid #2DA44E;
  border-radius: 30px;
  margin-left: 4px;
  padding: 3px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  font-weight: 400;
}

.breakfast-text span:hover {
  box-shadow: 0px 0px 5px #2DA44E;
  background-color: #2DA44E;
  color: #fff;
}

.breakfast-buttons {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-right: 20px;
}

.breakfast-buttons .btn {
  background-color: #2DA44E;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 400;
}

.breakfast-buttons .btn:hover {
  box-shadow: 0px 0px 5px #2DA44E;
  /* border: 1px solid #2DA44E; */
  background-color: #fff;
  color: #2DA44E;
}

.breakfast-buttons .btn:active {
  box-shadow: 0px 0px 5px #2DA44E;
  /* border: 1px solid #2DA44E; */
  background-color: #fff;
  color: #2DA44E;
}

/* lunch */
.meals-today .Lunch {
  margin-top: 5px;
  border-bottom: 1px solid #CCCCCC;
  background: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

.Lunch img,
.Lunch .Lunch-text,
.Lunch {
  display: inline-block;
  vertical-align: middle;
}

.Lunch img {
  border-radius: 50%;
  margin: 20px;
  margin-right: 60px;
  height: 100px;
  width: 100px;
}

.Lunch {
  display: flex;
  justify-content: space-between;
  padding: auto;
}

.Lunch-text {
  margin: auto;
  margin-left: 20px;
}

.Lunch-text p {
  font-weight: 600;
}

.Lunch-text .Lunch-text-2 {
  font-size: 18px;
  font-weight: 500;
}

.Lunch-text span {
  float: none;
  border: 1px solid #2DA44E;
  border-radius: 30px;
  margin-left: 4px;
  padding: 3px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  font-weight: 400;
}

.Lunch-text span:hover {
  box-shadow: 0px 0px 5px #2DA44E;
  background-color: #2DA44E;
  color: #fff;
}

.Lunch-buttons {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-right: 20px;
}

.Lunch-buttons .btn {
  background-color: #2DA44E;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 400;
}

.Lunch-buttons .btn:hover {
  box-shadow: 0px 0px 5px #2DA44E;
  /* border: 1px solid #2DA44E; */
  background-color: #fff;
  color: #2DA44E;
}

.Lunch-buttons .btn:active {
  box-shadow: 0px 0px 5px #2DA44E;
  /* border: 1px solid #2DA44E; */
  background-color: #fff;
  color: #2DA44E;
}

/* supper */

.meals-today .supper {
  margin-top: 5px;
  border-bottom: 1px solid #CCCCCC;
  background: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

.supper img,
.supper .supper-text,
.supper {
  display: inline-block;
  vertical-align: middle;
}

.supper img {
  border-radius: 50%;
  margin: 20px;
  margin-right: 60px;
  height: 100px;
  width: 100px;
}

.supper {
  display: flex;
  justify-content: space-between;
  padding: auto;
}

.supper-text {
  margin: auto;
  margin-left: 20px;
}

.supper-text p {
  font-weight: 600;
}

.supper-text .supper-text-2 {
  font-size: 18px;
  font-weight: 500;
}

.supper-text span {
  float: none;
  border: 1px solid #2DA44E;
  border-radius: 30px;
  margin-left: 4px;
  padding: 3px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  font-weight: 400;
}

.supper-text span:hover {
  box-shadow: 0px 0px 5px #2DA44E;
  background-color: #2DA44E;
  color: #fff;
}

.supper-buttons {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-right: 20px;
}

.supper-buttons .btn {
  background-color: #2DA44E;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 400;
}

.supper-buttons .btn:hover {
  box-shadow: 0px 0px 5px #2DA44E;
  /* border: 1px solid #2DA44E; */
  background-color: #fff;
  color: #2DA44E;
}

.supper-buttons .btn:active {
  box-shadow: 0px 0px 5px #2DA44E;
  /* border: 1px solid #2DA44E; */
  background-color: #fff;
  color: #2DA44E;
}

/* end of meal plan css */

/* home meal css */

.home-meal img,
.home-meal .home-meal-text,
.home-meal {
  display: inline-block;
  vertical-align: middle;
}

.home-meal img {
  border-radius: 10%;
  opacity: 0.85;
  height: 50%;
  width: 25%;
}

.home-meal {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.home-meal-text {
  margin: auto;

}

.home-meal-text p {
  font-weight: 600;
}

.home-meal-text .home-meal-text-2 {
  font-size: 25px;
  font-weight: 500;
}

.home-meal-buttons {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-right: 10px;
}

.home-meal-buttons .btn {
  background-color: #2DA44E;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 400;
}

.home-meal-buttons .btn:hover {
  box-shadow: 0px 0px 5px #2DA44E;
  /* border: 1px solid #2DA44E; */
  background-color: #fff;
  color: #2DA44E;
}

.home-meal-buttons .btn:active {
  box-shadow: 0px 0px 5px #2DA44E;
  /* border: 1px solid #2DA44E; */
  background-color: #fff;
  color: #2DA44E;
}

/* 

.content {
  position: relative;
  padding: 20px 0px;
  background-color: #F6F8FA;
  border: none;
} */

/* meal plan css */
/* .meal-plan-content{
  
  padding: 20px 0px;
  background-color: #F6F8FA;
  border: none;
} */

/* .meal-plan-content .content .card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  position: fixed;
  top: 10px;
  width: 91%;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0 10px 10px rgba(45, 164, 78, 0.2);
  background: #fff; 
  border-radius: 10px;
}

.meal-plan-content .card a {
  flex-basis: calc(100% / 6);
  text-align: center;
  padding: 2px;
}


.meal-plan-content .card-date{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #CCCCCC;
} */

.meal-plan-btn-container {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.meal-plan-btn-container button {
  background-color: #2DA44E;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 400;
}


.meal-plan-btn-container button:hover {
  box-shadow: 0px 0px 5px #2da44e;
  background-color: #fff;
  color: #2da44e;
}




.content .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 100%;
  height: 80px;
  background: #f6f8fa;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 10px 10px rgba(45, 164, 78, 0.2);
}

.food-analysis-display {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 100%;
  height: 400px;
  background: #f6f8fa;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 10px 10px rgba(45, 164, 78, 0.2);
  /* border: 1px solid red; */
}

.input-container {
  width: 300px;
}

.search-field {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 9999px;
  height: 43px;
  margin-top: -56px;
  width: 400px;
}

form input {
  box-shadow: inset;
  width: 300px;
  padding: 6px;
  background-color: #fff;
  border: none;
  outline: none;
  height: 41px;
  border-radius: 999px;
  margin-top: 10px;
}

input[type="search"] {
  font-size: 0.7rem;
}

.content .preferred-meal-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 100%;
  background: #f6f8fa;
  border-radius: 10px;
  padding: 10px;
  height: 80px;
  box-shadow: 0 10px 10px rgba(45, 164, 78, 0.2);
  /* border: 1px solid red; */
}

/* .meals-today {
  margin-top: 80px;
  border: 1px solid #ccc;
  background: #fff;
  border: none;
  box-shadow: 0 10px 10px rgba(45, 164, 78, 0.2);
  margin-left: 30px;
  margin-right: 30px;
  padding: 10px;
  border-radius: 10px;
} */

.left-side h5 {
  font-size: 20px;
  font-weight: 600;
}

.left-side h5,
p {
  margin-left: 20px;

}

.right-side {
  margin-right: 20px;
  border-left: 1px solid #ccc;
  font-size: 18px;
  font-weight: 500;
}

.right-side .fa-trash-can {
  color: #ccc;
  margin-left: 10px;
  margin-right: 20px;
}

.right-side .fa-trash-can:hover {
  color: #e5534b;
  cursor: pointer;
}

.content .preferred-meal-card p {
  font-size: 0.8rem;
  padding-bottom: 10px;
}

.content .card p {
  font-size: 0.8rem;
}

/* .card .week-btn {
  border-radius: 30px;
  margin: 2px 2px;
  background-color: #fff;
  color: #2da44e;
  border: none;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  padding: 3px 22px;
  border-radius: 30px;
}

.active-week-btn{
  text-align: center;
  padding: 3px 26px;
  border-radius: 30px;
  margin: 2px 2px;
  box-shadow: 0px 0px 5px #2DA44E;
  border: 1px solid #2DA44E;
  background-color: #2DA44E;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
    
}
.active,.week-btn:hover {
  box-shadow: 0px 0px 5px #2DA44E;
  border: 1px solid #2DA44E;
  background-color: #2DA44E;
  color: #fff;
}

.food-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #CCCCCC;
  /* box-shadow: 0 10px 10px rgba(150, 172, 156, 0.2); */
/* border-bottom: 1px solid #ccc; */


.food-category p {
  width: 400px;
  font-weight: 600;
}

.food-category span {
  border: 1px solid #2da44e;
  padding: 3px;
  border-radius: 30px;
  padding: 3px 16px;
  outline: none;
  font-size: 0.5rem;
  font-weight: 500;
}

.food-category span:hover {
  box-shadow: 0px 0px 5px #2DA44E;
  background-color: #2DA44E;
  color: #fff;
}

.food-category .food-list {
  font-size: 0.8rem;
  font-weight: 500;
  padding-top: 8px;
}

.breakfast-photo {
  width: 100px;
  height: 100px;
  background-image: url(./breakfast.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin: 20px;
  margin-right: 60px;
}

.supper-photo {
  width: 100px;
  height: 100px;
  background-image: url(./food-min.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin: 20px;
  margin-right: 60px;
}

.lunch-photo {
  width: 100px;
  height: 100px;
  background-image: url(./food2.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin: 20px;
  margin-right: 60px;
}

*/ .card-date p {
  margin-right: 20px;
}

.fa-house-user {
  font-weight: bold;
  color: #2da44e;
}

.bell-icon {
  text-decoration: none;
  color: #000;
}

.bell-icon:hover {
  color: #2da44e;
}

ul {
  list-style: none;
  padding-left: 40px;
  padding-top: 20px;
  margin-top: 30px;
}

ul a {
  margin-bottom: 20px;
  /* padding: 4px; */
}

ul a li {
  text-decoration: none;
  color: #000;
  font-size: 0.6rem;
  padding: 10px;
  height: 50px;
  /* border-radius: 999px; */
}


a.btn {
  border-radius: 9999px;
  border-bottom-left-radius: 9999px;
  /* box-shadow: 0px 0px 5px #2da44e; */
  background-color: #fff;
  text-decoration: none;
  color: #2da44e;
  cursor: pointer;
  padding: 4px;
  display: flex;
  width: 90%;
}

ul i {
  margin-right: 10px;
  color: #2da44e;
  font-size: 1rem;
}

a.btn:hover {
  border-radius: 9999px;
  /* border-bottom-left-radius: 9999px; */
  box-shadow: 0px 0px 5px #2da44e;
  background-color: #fff;
  color: #2da44e;
  cursor: pointer;
  padding: 4px;
  display: flex;
  width: 90%;
}

a.btn.active {
  border-radius: 9999px;
  /* border-bottom-left-radius: 9999px; */
  box-shadow: 0px 0px 5px #2da44e;
  background-color: #fff;
  color: #2da44e;
  cursor: pointer;
  padding: 4px;
  display: flex;
  width: 90%;
}


.profile-image {
  border-radius: 50%;
  background-image: url(../Assets/avatar.jpg);
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 125px;
  top: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

.username {
  position: absolute;
  right: 0;
  top: 18px;
  white-space: nowrap;
  width: 119px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.5rem;
}

#settings-icon {
  position: absolute;
  color: #2da44e;
  top: 59px;
  right: 130px;
  font-size: 18px;
}

.setting-text {
  margin-left: -20px;
}

.log-out-text {
  margin-left: -16px;
}

.theme-text {
  margin-left: -25px;
}

#user-icon {
  position: absolute;
  color: #2da44e;
  top: 11px;
  right: 130px;
  font-size: 18px;
}

#theme-icon {
  position: absolute;
  color: #2da44e;
  top: 104px;
  right: 130px;
  font-size: 18px;
}

#logout-icon {
  position: absolute;
  color: #2da44e;
  top: 151px;
  right: 125px;
  font-size: 18px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(250, 249, 249, 1.2);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(14px);
  min-width: 160px;
  overflow: auto;
  box-shadow: 0 10px 10px rgba(45, 164, 78, 0.2);
  z-index: 1;
  right: 0;
  top: 62px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dropdown-content a:hover {
  background-color: #fff;
  color: #2da44e;
}

.dropdown-content i:hover {
  background-color: #fff;
  color: #2da44e;
}

.user {
  border-bottom: 1px solid #d6d4d4;
}

.settings-item {
  border-bottom: 1px solid #d6d4d4;
}

.theme-item {
  border-bottom: 1px solid #d6d4d4;
}

.show {
  display: block;
}

.counter {
  position: absolute;
  border: none;
  outline: none;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  text-align: center;
  background-color: red;
  color: #fff;
  right: 210px;
  font-size: 13px;
  top: 10px;
}

.header-template {
  display: flex;
  justify-content: center;
  position: relative;
  height: 60px;
  width: 100%;
}

.profile-skeleton {
  height: 40px;
  width: 40px;
  animation: skeleton-loading 1s infinite alternate;
  border-radius: 50%;
  position: absolute;
  right: 125px;
  top: 10px;
  outline: none;
  border: none;
}

.profile-text {
  height: 0.5rem;
  animation: skeleton-loading 1s infinite alternate;
  border-radius: 0.125rem;
  position: absolute;
  right: 4px;
  top: 20px;
  width: 110px;
  height: 0.5rem;
}

.notification-skeleton {
  position: absolute;
  right: 207px;
  top: 10px;
  font-size: 28px;
  height: 40px;
  width: 40px;
  animation: skeleton-loading 1s infinite alternate;
}

.container-template {
  display: flex;
  background-color: hsl(200, 20%, 95%);
  animation: skeleton-loading 1s infinite alternate;
  height: 100vh;
}

.logo-skeleton {
  height: 50px;
  position: absolute;
  left: 0px;
  top: 5px;
}

.delete-btn-container {
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  padding-bottom: 50px;
}

.delete-btn-container button {
  position: absolute;
  background: #2da44e;
  border-radius: 999px;
  color: #fff;
  padding: 10px;
  outline: none;
  border: none;
  right: 0;
  top: 4px;
}

.delete-btn-container button:hover {
  box-shadow: 0px 0px 5px #2da44e;
  /* border: 1px solid #2DA44E; */
  background-color: #fff;
  color: #2da44e;
  cursor: pointer;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.logo {
  position: absolute;
  left: 30px;
  top: 5px;
}

main section {
  height: 600px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.summary {
  display: flex;
  margin: 30px 40px 10px 40px;
  height: 290px;
}

.health-card {
  background: #f6f8fa;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 10px 10px rgba(150, 172, 156, 0.2);
}

.bmi-status {
  border: none;
  display: flex;
  justify-content: center;
  background: #f6f8fa;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  margin-left: 10px;
  box-shadow: 0 10px 10px rgba(150, 172, 156, 0.2);
}

th {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #000;
}

td {
  padding: 12px;
  font-size: 0.6rem;
  font-weight: 300;
  text-align: center;
}

.calories-card {
  border: none;
  background: #f6f8fa;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  margin-left: 10px;
  box-shadow: 0 10px 10px rgba(150, 172, 156, 0.2);
}

.meal-card {
  border: none;
  background: #f6f8fa;
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(45, 164, 78, 0.2);
}

.meal-card .info {
  background-color: #fff;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(45, 164, 78, 0.2);
  margin-bottom: 10px;
}

.meal-card-btn {
  display: flex;
  flex-direction: column;
}

/* .meal-card-btn button {
  margin: 10px;
  padding: 8px;
  border-radius: 999px;
  border: none;
  outline: none;
  background: #2da44e;
  color: #fff;
  cursor: pointer;
}

.meal-card-btn button:hover {
  box-shadow: 0px 0px 5px #2da44e;
  background-color: #fff;
  color: #2da44e;
} */

.meal-container-inner {
  /* display: flex; */
  justify-content: space-around;
}

/* .image-left {
  display: flex;
}

figcaption {
  margin-top: 50px;
  margin-left: 20px;
  font-weight: 500;
  font-size: 1rem;
  color: #000;
}

.meal-photo {
  width: 230px;
  height: 180px;
  background-image: url(./breakfast.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  opacity: 0.85;
} */

.vertical-line-left {
  border: 0.5px solid #e4e2e2;
  position: absolute;
  height: 70%;
  left: 190px;
  border-left: none;
  top: 10px;
}

.health-card-inner {
  height: 250px;
}

.vertical-line-right {
  border: 0.5px solid #e4e2e2;
  position: absolute;
  height: 70%;
  right: 190px;
  border-left: none;
  top: 10px;
}

header i {
  position: absolute;
  right: 207px;
  top: 19px;
  font-size: 28px;
}

.preloader {
  background: #fff;
  width: 100%;
  height: 100vh;
  z-index: 100;
  position: fixed;
}

.loader {
  border: solid 3px #99cdee;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: 0.5s linear infinite spinner;
}

button span {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  left: 4px;
  top: 3px;
  margin-bottom: 5px;
  background: #000;
  transition: 0.5s;
}

.theme-switch {
  position: absolute;
  display: flex;
  font-family: sans-serif;
  justify-content: end;
  align-items: center;
  font-size: 14px;
  right: 260px;
  top: 20px;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@media only screen and (min-width: 908px) {
  .meal-card-btn-set2 {
    display: none;
  }

  .figcaption-set2 {
    display: none;
  }

  .footer-nav {
    display: none;
  }
}

@media only screen and (max-width: 908px) {
  .nav-label {
    display: none;
  }

  .figcaption-set2 {
    font-size: 0.7rem;
    padding: 10px;
  }

  .meal-card {
    margin-left: 0px;
    margin-right: 0;
    padding: 0;
    margin-bottom: 2px;
    width: 100%;
    background: #fff;
  }

  figcaption {
    margin-top: 0;
    margin-left: 0;
  }

  .meal-container-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .meal-card-btn {
    display: none;
  }

  .image-left {
    display: unset;
  }

  .meal-card-btn-set2 {
    display: block;
    margin: 10px;
  }

  .meal-card-btn-set2 button {
    border-radius: 999px;
    padding: 5px;
    border: none;
    outline: none;
    background: #2da44e;
    color: #fff;
    font-size: 0.6rem;
  }

  figcaption {
    display: none;
  }

  .meal-photo {
    width: 160px;
    height: 160px;
    background-image: url(./breakfast.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
  }

  .summary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: -43px 40px 10px 40px;
    height: 950px;
    width: 100%;
  }

  .health-card {
    border: none;
    width: 100%;
    margin: 10px;
    height: 270px;
    background: #fff;
  }

  .bmi-status {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    width: 100%;
    margin-left: 0px;
    margin: 10px;
  }

  .calories-card {
    width: 100%;
    margin-left: 0;
    background: #fff;
  }

  nav {
    overflow: hidden;
    position: unset;
  }

  main {
    border-left: 0;
    margin-right: 5px;
    border-right: none;
    height: 1040px;
    background: #fff;
  }

  body {
    display: grid;
    grid-template-areas:
      "header header"
      "navbar content";
    grid-template-columns: 0.1fr 4fr;
    width: 100%;
    height: 100vh;
  }

  .content {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 1245px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 50px;
  }

  .content .card {
    background: #fff;
  }

  .content .card p {
    font-size: 0.63rem;
  }

  .content .card h3 {
    font-size: 0.7 rem;
  }

  .logo {
    position: absolute;
    left: 3px;
    top: 6px;
    width: 100px;
  }

  .vertical-line-left {
    border: 1px solid #f5f5f5;
    position: absolute;
    height: 70%;
    left: 120px;
    border-left: none;
    top: 10px;
  }

  header i {
    position: absolute;
    right: 97px;
    top: 22px;
    font-size: 1.3rem;
  }

  header {
    border: none;
  }

  .counter {
    position: absolute;
    border: none;
    outline: none;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    text-align: center;
    background-color: red;
    color: #fff;
    right: 98px;
    font-size: 13px;
    top: 12px;
  }

  .title {
    margin-top: 18px;
  }

  .vertical-line-right {
    display: none;
  }

  .footer-nav {
    border-top: 1px solid #f5f5f5;
    width: 100%;
    position: absolute;
    bottom: 0;
    position: fixed;
    background: #fff;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 54px;
  }

  .footer-nav a {
    color: #5f5d5d;
    font-size: 1.3rem;
  }

  .footer-nav a:hover {
    color: #2da44e;
    cursor: pointer;
  }

  .mobile-logout {
    margin-right: 30px;
  }

  .fa-gear {
    position: absolute;
    top: 17px;
    right: 109px;
    font-size: 1.5rem;
  }

  .username {
    display: none;
  }

  .profile-image {
    right: 10px;
    top: 10px;
  }

  .logo-skeleton {
    width: 120px;
    height: 40px;
    position: absolute;
    left: -5px;
    top: 5px;
  }

  .notification-skeleton {
    position: absolute;
    right: 186px;
    top: 10px;
    font-size: 28px;
    height: 40px;
    width: 40px;
    animation: skeleton-loading 1s infinite alternate;
  }

  .card-top {
    background: #fff;
  }

  .card-bottom {
    background: #fff;
  }

  /* ul i:hover {
    margin-right: 20px;
    color: #2da44e;
    font-size: 1rem;
  } */

  .active,
  ul a li:hover {
    box-shadow: none;
    background-color: #692626;
    cursor: pointer;
    padding: 10px;
    width: 0;
  }

  .history-icon-active i {
    color: #2da44e;
  }

  .home-icon-active i {
    color: #2da44e;
  }

  .home-icon-inactive i {
    color: #5f5d5d;
  }

  .home-icon-inactive i:hover {
    color: #2da44e;
  }
}